.slick{
   &-slider{
      position: relative;
   }
   &-list{
      overflow: hidden;
   }
   &-track{
      display: flex;

   }
   &-dots{
      position: absolute;
      left: 50%;
      bottom: -100px;
      display: flex;
      align-items: center;
      transform: translate(-50%, 0);
      @media (max-width: 767px) {
         bottom: -60px;
      }
      li {
         margin: 0 7px;
         button {
            font-size: 0;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: #00897b;
         }
         &.slick-active button {
          background-color: #3949ab;
       }}
    }
}