
.btn {
	padding: 25px 45px;
	font-size: 20px;
	display: inline-block;
	transition: all 0.3s ease;
	text-transform: uppercase;
	&:hover{
		background-color:#00897b;
		color: $white;
		border-color: transparent;
	}
	&-border-w{
		border: 3px solid $white;
		color: $white;
		&:first-child{
			margin-right: 24px;
		}
		@media (max-width: 535px) {
			display: block;
			width: 100%;
			&:first-child{
				margin: 0 0 24px 0;
			}
		}
	}
	&-border-b {
		border: 3px solid $black;
		color: $black;
	}
	@media (max-width: 535px){
		font-size: 14px;
		padding: 15px 30px;
	}

}
