.contact {
	padding: 125px 0 105px ;
	background-color: $black;
	@media (max-width: 767px){
		padding: 60px 0  ;
	}
	@media (max-width: 525px){
		padding: 30px 0  ;
	}
	&__header {
		color: $white;
	}
	&__body {
		padding: 0 70px;
		@media (max-width: 767px){
			padding: 0;
		}
	}
	&__adress {
		margin-bottom:80px ;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
	}
	&__item {
		flex: 0 1 33.333%;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@media (max-width: 767px){
			flex: 0 1 50%;
			margin: 0 auto;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__link {
		flex: 0 0 106px;
		display: inline-block;
		background-color: #3949ab;
		padding: 22px;
		border-radius: 50%;
		img{
			max-width: 100%;
		}
		@media (max-width: 860px) {
			flex: 0 0 90px;
			padding: 15px;
		}
		@media (max-width: 525px){
			flex: 0 0 70px;
			img{
				width: 40px;
				height: 50px;
			}
		}

	}
	&__info {
		padding-top: 35px;
		@include fontSize(20, 15);
		color: $white;
		@media (max-width: 767px){
			padding-top: 20px;
		}
	}
}
