.header {
	position: relative;
	&.fixed{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999;
		&::before{
			background-color: $black;
		}
		& .header__logo{
			color: $white;
		}
		& .nav__link:hover, .nav__link.active{
			&::after{
				display: none;
			}
		}
		& .nav__link:hover, .nav__link.active{
			&::before{
				display: block;
			}
		}
		&  .header__menu-icon::before, .header__menu-icon span, .header__menu-icon::after{
			background-color: $white;
		}
		
		@media (min-width: 967px) {
			.nav__link{
				color: $white;
			}
		}

	}
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 3;
		background-color: $white;
		height: 100%;
		
	}
	
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
		position: relative;
		@media (max-width: 767px){
			height: 90px;
		}
		
	}
	&__logo {
		font-weight: 700;
		font-size: 25px;
		position: relative;
		z-index: 4;
		color: $black;
	}
	&__menu-icon {
		display: none;
		@media (max-width: 967px) {
			display: block;
			height: 35px;
			z-index: 4;
			width: 35px;
			position: relative;
			&::before, span, &::after{
				background-color: $black;
				width: 100%;
				height: 2px;
				position: absolute;
				transition: all 0.2s ease-out;

				left: 0;
			}
			&::before{
				top: 0;
				content: "";
			}
			span{
				top: 50%;
				transform: translateY(-50%);
			}
			&::after{
				bottom: 0;
				content: "";
			}
			&.active::before{
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}
			&.active span{
				transform: scale(0);
			}
			&.active::after{
				bottom: 50%;
				transform: translateY(50%) rotate(-45deg);
			}
		}
	}
}


.nav {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	z-index: 4;
	@media (max-width: 967px){
		align-items: flex-start;
	}
	&__list{
		@media (min-width: 967px){
			display: flex;
			align-items: center;
			li{
				margin-right: 40px;
				&:last-child {
					margin-right: 25px;
				}
			}
		}
		
	}
	
	&__link {
		color: $black;
		@include fontSize(20, 25);
		letter-spacing: 2px;
		margin-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
		display: block;
		&::after, &::before {
			content: "";
			height: 2px;
			width: 100%;
			display: none;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&::after {
			background-color: $black;
			
		}
		&::before {
			background-color: $white;
		}
		&:hover, &.active{
			&::after{
				display: block;
			}
		}
		
		@media (max-width: 967px) {
			color: $white;
			&::after{
				display: block;
				background-color: $white;
			}
		}
	}
	&__search{
		
		@media (max-width: 967px){
			width: 30px;
			height: 30px;
			img{
				width: 100%;
				height: 100%;
			}
			
			}@media (max-width: 767px){
				width: 40px;
				height: 40px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		@media (max-width: 967px) {
			position: fixed;
			left: -100%;
			top: 0;
			transition: left 0.2s linear;
			width: 100%;
			background-color:rgba(0, 0, 0, 0.85); 
			height: 100%;
			overflow: auto;
			padding: 135px 20px 30px 25px;
			z-index: 1;
			li{
				margin-bottom: 40px;
				&:last-child{
					margin: 0;
				}
			}
			&.active{
				left: 0;
			}
			@media (max-width: 767px){
				padding-top: 120px;
			}
		}
	}
