.main-header {
	text-align: center;
	max-width: 640px;
	margin: 0 auto;
	color: $black;
	margin-bottom: 125px;
	@media (max-width: 767px){
		margin-bottom: 70px;
	}
	@media (max-width: 425px){
		margin-bottom: 40px;
	}
	&__title {
		font-weight: 700;
		@include fontSize(30, 25);
		letter-spacing: 2px;
	}
	&__text {
		margin-top: 38px;
		line-height:22px;
	}
}
